
body{
	color: red;
	margin: 0;
	padding: 0;
	color: white;
	background-color: black;
	font-family: 'Roboto';
}

p{
	font-size: 1.4rem;
}

.container {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}
